body {
    background-color: powderblue;
  }
#signalchannels {
    display: flex;
    align-content: center;
}
#plot {
    width: auto;
    display:inline-block;
    border: 1px solid black;
    
}

#plot2 {
    width: auto;
    display: inline-block;
    position:absolute;
    top:0.5em;
    left:50%;
    border: 1px solid black;

}
.grid-container {
    display: grid;
    column-gap: 10px;
    justify-content: space-evenly;
}

#linklink {
    position: relative;
    align-content: center;
    top:3em;
}

#control {
    position: relative;
    top:3em;
    border:1px solid black;
}

#linkedDiv {
    position : relative ;
    top:3em;
    border:1px solid black;
}