<!DOCTYPE html>
<html>
<head>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <div id="plot"></div>
    <div>
        <button id="toggle-btn" onclick="togglePlot()">Start</button>
        <button id="color-btn" onclick="changeColor()">Change Color</button>
        <label for="interval-slider">Interval:</label>
        <input type="range" id="interval-slider" min="10" max="500" step="10" value="100" oninput="updateInterval(this.value)">
        
    </div>
    <script>
        var plotDiv = document.getElementById('plot');
        var data = {{data|tojson}};
        var x = [];
        var y = data.map(function (x) {return x[1]; });
        var cnt = 0;
        var intervalId;
        var intervalTime = 100;
        var plotColor = 'blue';

        function plot() {
            Plotly.newPlot(plotDiv, [{x: x, y: y, line: {color: plotColor}}], {title: 'ECG Signal', scrollZoom: true, modeBar: {orientation: 'v'},
                                                      xaxis: {range: [Math.max(cnt - 100, 0), cnt]}});
        }

        function update() {
            // replace with code to get ECG 
            x.push(cnt);
            y.push();
            cnt++;
            plot();
        }

        function togglePlot() {
            var btn = document.getElementById('toggle-btn');
            if (intervalId) {
                // Stop plot updates
                clearInterval(intervalId);
                intervalId = null;
                btn.innerHTML = 'Start';
                // Reset slider
                var slider = document.getElementById('interval-slider');
                slider.value = 100;
                intervalTime = 100;
            } else {
                // Start plot updates
                intervalId = setInterval(update, intervalTime);
                btn.innerHTML = 'Stop';
            }
        }

        function updateInterval(value) {
            intervalTime = value;
            if (intervalId) {
                clearInterval(intervalId);
                intervalId = setInterval(update, intervalTime);
            }
        }

        function changeColor() {
            var btn = document.getElementById('color-btn');
            if (plotColor == 'blue') {
                plotColor = 'red';
                btn.innerHTML = 'Change to Blue';
            } else {
                plotColor = 'blue';
                btn.innerHTML = 'Change to Red';
            }
            plot();
        }

        // Start plot updates by default
        togglePlot();
    </script>
</body>
</html>