<!DOCTYPE html>
<html>
<head>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <title>this is DSP task1</title>
</head>
<body style="text-align: center;">
    <div id="plot"></div>
    <div id="plot1"></div>
    <div>
        <button id="toggle-btn" onclick="togglePlot()">Start</button>
        <button id="toggle-btn1" onclick="togglePlot1()">Start</button>
        <button id="color-btn" onclick="changeColor()">Change Color</button>
        <label for="interval-slider">Interval:</label>
        <input type="range" id="interval-slider" min="10" max="500" step="10" value="100" oninput="updateInterval(this.value)">
        <button type="button" onclick="zoomin()">enlarge</button>
        <button type="button" onclick="zoomout()">minimize</button>

        <!--<button id="change" onclick="cutlink()">cutlink</button>-->
        
        <!--<label for="interval-slider1">Interval:</label>-->
        <!--<input type="range" id="interval-slider1" min="10" max="500" step="10" value="100" oninput="updateInterval(this.value)">-->
        <button type="button" onclick="zoomin1()">enlarge</button>
        <button type="button" onclick="zoomout1()">minimize</button>
    </div>
      
    <script type="text/javascript">
        //these functions just enlarge the scale or minimize it in horizontal 
        function zoomin() {
            var GFG = document.getElementById("plot");
            var currWidth = GFG.clientWidth;
            GFG.style.width = (currWidth + 100) + "px";
        }
          
        function zoomout() {
            var GFG = document.getElementById("plot");
            var currWidth = GFG.clientWidth;
            GFG.style.width = (currWidth - 100) + "px";
        }
        function zoomin1() {
            var GFG = document.getElementById("plot1");
            var currWidth = GFG.clientWidth;
            GFG.style.width = (currWidth + 100) + "px";
        }
          
        function zoomout1() {
            var GFG = document.getElementById("plot1");
            var currWidth = GFG.clientWidth;
            GFG.style.width = (currWidth - 100) + "px";
        }
    </script>
    <script>
        var plotDiv = document.getElementById('plot');
        var plotDiv1 = document.getElementById('plot1');
        var data = {{data|tojson}};
        var x = [];
        var y = data.map(function (x) {return x[1]; });
        var cnt = 0;
        var intervalId;
        var intervalTime = 100;
        var plotColor = 'blue';

        function plot() {
            Plotly.newPlot(plotDiv, [{x: x, y: y, line: {color: plotColor}}], {title: 'ECG Signal', scrollZoom: true, modeBar: {orientation: 'v'},
                                                      xaxis: {range: [Math.max(cnt - 100, 0), cnt]}});
            Plotly.newPlot(plotDiv1, [{x: x, y: y, line: {color: plotColor}}], {title: 'ECG Signal', scrollZoom: true, modeBar: {orientation: 'v'},
                                                      xaxis: {range: [Math.max(cnt - 100, 0), cnt]}});
        }

        function update() {
            // replace with code to get ECG 
            x.push(cnt);
            y.push();
            cnt++;
            plot();
        }
        function cutlink(){

        }

        function togglePlot() {
            var btn = document.getElementById('toggle-btn');
            if (intervalId) {
                // Stop plot updates
                clearInterval(intervalId);
                intervalId = null;
                btn.innerHTML = 'Start';
                // Reset slider
                var slider = document.getElementById('interval-slider');
                slider.value = 100;
                intervalTime = 100;
            } else {
                // Start plot updates
                intervalId = setInterval(update, intervalTime);
                btn.innerHTML = 'Stop';
            }
        }

        /*function togglePlot1() {
            var btn = document.getElementById('toggle-btn1');
            if (intervalId) {
                // Stop plot updates
                clearInterval(intervalId);
                intervalId = null;
                btn.innerHTML = 'Start';
                // Reset slider
                var slider = document.getElementById('interval-slider');
                slider.value = 100;
                intervalTime = 100;
            } else {
                // Start plot updates
                intervalId = setInterval(update, intervalTime);
                btn.innerHTML = 'Stop';
            }
        }*/

        function updateInterval(value) {
            intervalTime = value;
            if (intervalId) {
                clearInterval(intervalId);
                intervalId = setInterval(update, intervalTime);
            }
        }

        function changeColor() {
            var btn = document.getElementById('color-btn');
            if (plotColor == 'blue') {
                plotColor = 'red';
                btn.innerHTML = 'Change to Blue';
            } else {
                plotColor = 'blue';
                btn.innerHTML = 'Change to Red';
            }
            plot();
        }

        // Start plot updates by default
        togglePlot();
        //togglePlot1();
    </script>
</body>
</html>
